<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-danger">
            <div class="nav-tabs-navigation">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a mat-button class="nav-link active" href="#verification" data-toggle="tab">
                    Verification
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#history" data-toggle="tab">
                    History
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#edit" data-toggle="tab">
                    <i class="material-icons">
                      edit
                    </i>Edit
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="verification">
                Verification
                <h4 class="text-center text-info">REMITANCE VERIFICATION</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>SL NO</th>
                        <th>CASHIER ID</th>
                        <th>CASHIER NAME</th>
                        <th class="text-right">BANK</th>
                        <th class="text-right">CASH</th>
                        <th class="text-right">SCHOLARSHIP</th>
                        <th class="text-right">TOTAL</th>
                        <th>ACTION</th>
                      </tr>

                    </thead>
                    <tbody>
                      <td>1</td>
                      <td>1001</td>
                      <td>Firoz</td>
                      <td>0</td>
                      <td>29930</td>
                      <td>0</td>
                      <td>29930</td>
                      <td><button type="button" class="btn btn-secondary">SHOW</button>
                      </td>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="history">
                history
              </div>
              <div class="tab-pane" id="edit">
                Edit
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
