<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <!--  -->
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">

                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#questions" data-toggle="tab">
                      <i class="material-icons">help_outline</i>Questions
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#test" data-toggle="tab">
                      <i class="material-icons">description</i>Test
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#result" data-toggle="tab">
                      <i class="material-icons">grade</i>Result
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#quiz" data-toggle="tab">
                      <i class="material-icons">edit</i>Quiz
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#report" data-toggle="tab">
                      <i class="material-icons">report</i>Report
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="questions">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="text-center" colspan="4">
                              <mat-form-field>
                                <mat-select placeholder="Select">
                                  <mat-option *ngFor="let subject of subjects" value="{{subject.subject_id}}">
                                    {{subject.subject}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </th>
                            <th class="text-center" colspan="2">
                              <button type="button" rel="tooltip" class="btn btn-success" data-toggle="modal"
                                data-target="#queModal">
                                <i class="material-icons">add</i>
                              </button>
                              <div class="modal fade" id="queModal" tabindex="-1" role="dialog"
                                aria-labelledby="queModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="queLabel">Add Question</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">

                                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Select Subject
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item"
                                          *ngFor="let subject of subjects">{{subject.subject}}</a>
                                      </div>


                                      
                                      <button type="button" rel="tooltip" class="btn btn-success" data-toggle="modal"
                                        data-target="#subselectModal">
                                        <i class="material-icons">add</i>
                                      </button>
                                      <div class="modal" id="subselectModal" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title">Add Subject</h5>
                                            </div>
                                            <div class="modal-body">
                                              <mat-form-field>
                                                <input matInput placeholder="Enter Subject Name">
                                              </mat-form-field>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-primary">Add</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <mat-form-field>
                                        <textarea matInput placeholder="Question"></textarea>
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Option 1 (Answer)">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Option 2">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Option 3">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Option 4">
                                      </mat-form-field>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                      <button type="button" class="btn btn-info">Submit</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </th>
                          </tr>
                          <tr>
                            <th class="text-center">Sl No.</th>
                            <th class="text-center">Questions</th>
                            <th class="text-center">Answer</th>
                            <th class="text-center">Option 1</th>
                            <th class="text-center">Option 2</th>
                            <th class="text-center">Option 3</th>
                            <th class="text-center">Author</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let question of questions; index as i">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-center">{{question?.question}}</td>
                            <td class="text-center">{{question?.answer}}</td>
                            <td class="text-center">{{question?.option_1}}</td>
                            <td class="text-center">{{question?.option_2}}</td>
                            <td class="text-center">{{question?.option_3}}</td>
                            <td class="text-center">{{question?.faculty_name}}</td>
                            <td class="text-center">
                              <button type="button" rel="tooltip" class="btn btn-success" data-toggle="modal"
                                data-target="#viewModal">
                                <i class="material-icons">remove_red_eye</i>
                              </button>
                              <div class="modal fade" id="viewModal" tabindex="-1" role="dialog"
                                aria-labelledby="viewModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">

                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <mat-select placeholder="Select">
                                        <mat-option *ngFor="let subject of subjects" value="{{subject.subject_id}}">
                                          {{subject.subject}}</mat-option>
                                      </mat-select>
                                      <mat-form-field>
                                        <textarea matInput placeholder="Question"></textarea>
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Option 1 (Answer)">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Option 2">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Option 3">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Option 4">
                                      </mat-form-field>
                                      <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">Status</button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Active</a>
                                        <a class="dropdown-item" href="#">Removed</a>
                                        <a class="dropdown-item" href="#">On Hold</a>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                      <button type="button" class="btn btn-primary">Update</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <td class="text-center">Sl No.</td>
                          <td class="text-center">Questions</td>
                          <td class="text-center">Answer</td>
                          <td class="text-center">Option 1</td>
                          <td class="text-center">Option 2</td>
                          <td class="text-center">Option 3</td>
                          <td class="text-center">Autdor</td>
                          <td class="text-center">Action</td>
                        </tfoot>
                      </table>
                    </div>
                    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>

                  </div>
                </div>
              </div>


              <div class="tab-pane" id="test">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="text-center" colspan="4"></th>
                            <th class="text-center" colspan="4">
                              <button type="button" rel="tooltip" class="btn btn-success" data-toggle="modal"
                                data-target="#testModal">
                                <i class="material-icons">add</i>
                              </button>
                              <div class="modal fade" id="testModal" tabindex="-1" role="dialog"
                                aria-labelledby="testModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="testLabel">Add Test</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">


                                      <mat-form-field>
                                        <input matInput placeholder="Test Name">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Mark Per Question">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="No of Questions">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Maximum Mark">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Maximum Time(Seconds)">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Wrong Answer Mark">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <textarea matInput placeholder="Test Details"></textarea>
                                      </mat-form-field>
                                      <table class="table">
                                        <thead>
                                          <tr>
                                            <th class="text-center">Sl No</th>
                                            <th class="text-left">Subject</th>
                                            <th class="text-center">
                                              <mat-checkbox labelPosition="before"></mat-checkbox>
                                            </th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let subject of subjects; index as i">
                                            <td class="text-center">{{i+1}}</td>
                                            <th class="text-left">{{subject.subject}}</th>
                                            <td class="text-center">
                                              <mat-checkbox labelPosition="before"></mat-checkbox>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                      <button type="button" class="btn btn-info">Submit</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </th>
                          </tr>
                          <tr>
                            <th class="text-center">Sl No.</th>
                            <th class="text-center">Test Name</th>
                            <th class="text-center">Test Key</th>
                            <th class="text-center">Subject</th>
                            <th class="text-center">Point</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let test of tests; index as i">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-center">{{test?.test_name}}</td>
                            <td class="text-center">{{test?.test_key}}</td>
                            <td class="text-center">{{test?.subject}}</td>
                            <td class="text-center">{{test?.total_mark}}</td>
                            <td class="text-center">{{test?.statusv}}</td>
                            <td class="text-center">
                              <button type="button" rel="tooltip" class="btn btn-success" data-toggle="modal"
                                data-target="#testviewModal">
                                <i class="material-icons">remove_red_eye</i>
                              </button>
                              <div class="modal fade" id="testviewModal" tabindex="-1" role="dialog"
                                aria-labelledby="testviewModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <mat-form-field>
                                        <input matInput placeholder="Test Name">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Mark Per Question">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="No of Questions">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Maximum Mark">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Maximum Time(Seconds)">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Wrong Answer Mark">
                                      </mat-form-field>
                                      <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">Status</button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Active</a>
                                        <a class="dropdown-item" href="#">Removed</a>
                                        <a class="dropdown-item" href="#">On Hold</a>
                                      </div>
                                      <mat-form-field>
                                        <textarea matInput placeholder="Test Details"></textarea>
                                      </mat-form-field>
                                      <table class="table">
                                        <thead>
                                          <tr>
                                            <th class="text-center">Sl No</th>
                                            <th class="text-left">Subject</th>
                                            <th class="text-center">
                                              <mat-checkbox labelPosition="before"></mat-checkbox>
                                            </th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let subject of subjects; index as i">
                                            <td class="text-center">{{i+1}}</td>
                                            <th class="text-left">{{subject?.subject}}</th>
                                            <td class="text-center">
                                              <mat-checkbox labelPosition="before"></mat-checkbox>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                      <button type="button" class="btn btn-primary">Update</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <td class="text-center">Sl No.</td>
                          <td class="text-center">Test Name</td>
                          <td class="text-center">Test Key</td>
                          <td class="text-center">Subject</td>
                          <td class="text-center">Point</td>
                          <td class="text-center">Status</td>
                          <td class="text-center">Action</td>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="result">
                <div class="row">
                  <div class="col-sd-12 col-md-12">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="text-center" colspan="6">
                              <mat-form-field>
                                <mat-select placeholder="Select Test">
                                  <mat-option value="Example">Example</mat-option>
                                  <mat-option value="Example1">Example1</mat-option>
                                  <mat-option value="Example2">Example2</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </th>
                            <th class="text-center" colspan="4">
                              <mat-form-field>
                                <mat-select placeholder="Select Type">
                                  <mat-option value="Student">Student</mat-option>
                                  <mat-option value="Staff">Staff</mat-option>
                                  <mat-option value="Student">All</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </th>
                          </tr>
                          <tr>
                            <th class="text-center">Sl No.</th>
                            <th class="text-center">ID</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Questions</th>
                            <th class="text-center">Attended</th>
                            <th class="text-center">Correct</th>
                            <th class="text-center">Wrong</th>
                            <th class="text-center">Point</th>
                            <th class="text-center">%</th>
                            <th class="text-center">View</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let result of results; index as i">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-center">{{result?.id}}</td>
                            <td class="text-center">{{result?.name}}</td>
                            <td class="text-center">{{result?.total_question}}</td>
                            <td class="text-center">{{result?.attended}}</td>
                            <td class="text-center">{{result?.correct}}</td>
                            <td class="text-center">{{result?.wrong}}</td>
                            <td class="text-center">{{result?.mark}}/{{result?.total_question}}</td>
                            <td class="text-center">{{result?.percentage}}</td>
                            <td class="text-center"><button type="button" rel="tooltip" class="btn btn-success"
                                data-toggle="modal" data-target="#resultviewModal">
                                <i class="material-icons">remove_red_eye</i>
                              </button>
                              <div class="modal fade" id="resultviewModal" tabindex="-1" role="dialog"
                                aria-labelledby="resultviewModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">Example (Test Name)</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="table-responsive">
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th class="text-center">Sl No</th>
                                              <th class="text-center">Questions</th>
                                              <th class="text-center">Answer</th>
                                              <th class="text-center">Selected</th>
                                              <th class="text-center">?</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td class="text-center">1</td>
                                              <td class="text-center">1</td>
                                              <td class="text-center">1</td>
                                              <td class="text-center">3</td>
                                              <td class="text-center"><i class="material-icons">check</i></td>
                                            </tr>
                                          </tbody>
                                          <tfoot>
                                            <tr>
                                              <td class="text-center">Sl No</td>
                                              <td class="text-center">Questions</td>
                                              <td class="text-center">Answer</td>
                                              <td class="text-center">Selected</td>
                                              <td class="text-center">?</td>
                                            </tr>
                                          </tfoot>
                                        </table>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <td class="text-center">Sl No.</td>
                          <td class="text-center">ID</td>
                          <td class="text-center">Name</td>
                          <td class="text-center">Questions</td>
                          <td class="text-center">Attended</td>
                          <td class="text-center">Correct</td>
                          <td class="text-center">Wrong</td>
                          <td class="text-center">Point</td>
                          <td class="text-center">%</td>
                          <td class="text-center">View</td>
                        </tfoot>
                      </table>
                    </div>
                    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="quiz">

                <div class="row">
                  <div class="col-md-12">
                    <mat-horizontal-stepper [linear]="isLinear" #stepper>
                      <mat-step [stepControl]="firstFormGroup">
                        <form [formGroup]="firstFormGroup">
                          <ng-template matStepLabel>Enter Test Key</ng-template>
                          <div class="col-md-6">
                            <mat-form-field>
                              <input matInput placeholder="Test Key">
                            </mat-form-field>
                          </div>
                          <div>
                            <button mat-button class="btn btn-info" matStepperNext>OK</button>
                          </div>
                        </form>
                      </mat-step>
                      <mat-step [stepControl]="secondFormGroup">
                        <form [formGroup]="secondFormGroup">
                          <ng-template matStepLabel>Start Quiz</ng-template>
                          <h4 class="text-center">
                            EXAMPLE (Test Name)
                          </h4>
                          <h5>Test description</h5>
                          <div>
                            <button mat-button class="btn btn-secondary" matStepperPrevious>Back</button>
                            <button mat-button class="btn btn-success" matStepperNext>SUBMIT</button>
                          </div>
                        </form>
                      </mat-step>
                      <mat-step>
                        <ng-template matStepLabel>Quiz</ng-template>
                        <h4 class="text-center">
                          EXAMPLE (Test Name)
                        </h4>
                        <label id="questions-radio-group-label">1.Largest</label>
                        <mat-radio-group aria-labelledby="questions-radio-group-label" class="questions-radio-group"
                          [(ngModel)]="selectedOption">
                          <mat-radio-button class="questions-radio-button" *ngFor="let option of options"
                            [value]="option">
                            {{option}}
                          </mat-radio-button>
                        </mat-radio-group>
                        <div>
                          <button mat-button class="btn btn-secondary" matStepperPrevious>Back</button>
                          <button mat-button class="btn btn-success" matStepperNext>Next</button>
                        </div>
                      </mat-step>
                      <mat-step>
                        <ng-template matStepLabel>Quiz</ng-template>
                        <h4 class="text-center">
                          EXAMPLE (Test Name)
                        </h4>
                        <label id="questions-radio-group-label">2.Smallest</label>
                        <mat-radio-group aria-labelledby="questions-radio-group-label" class="questions-radio-group"
                          [(ngModel)]="selectedOption">
                          <mat-radio-button class="questions-radio-button" *ngFor="let option of options"
                            [value]="option">
                            {{option}}
                          </mat-radio-button>
                        </mat-radio-group>
                        <div>
                          <button mat-button class="btn btn-secondary" matStepperPrevious>Back</button>
                          <button mat-button class="btn btn-success" matStepperNext>Complete</button>
                        </div>
                      </mat-step>
                      <mat-step>
                        <ng-template matStepLabel>Quiz</ng-template>
                        <h4 class="text-center">
                          EXAMPLE (Test Name)
                        </h4>
                        <h4 class="text-center">
                          Total points: 2
                        </h4>
                        <h5 class="text-center">
                          Total Questions: 2
                        </h5>
                        <h5 class="text-center">
                          Total Questions Attended: 2
                        </h5>
                        <h5 class="text-center">
                          Total Correct Answers: 2
                        </h5>
                        <h5 class="text-center">
                          Total Wrong Answers: 0
                        </h5>
                        <h5 class="text-center">
                          ((2*1)-(0*1))=2
                        </h5>
                      </mat-step>
                    </mat-horizontal-stepper>
                  </div>

                </div>

              </div>
              <div class="tab-pane" id="report">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">Sl No</th>
                        <th class="text-center">Test Name</th>
                        <th class="text-center">Questions</th>
                        <th class="text-center">Attended</th>
                        <th class="text-center">Correct</th>
                        <th class="text-center">Wrong</th>
                        <th class="text-center">Point</th>
                        <th class="text-center">%</th>
                        <th class="text-center">View</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let report of reports; index as i">
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-center">{{report?.test_name}}</td>
                        <td class="text-center">{{report?.total_question}}</td>
                        <td class="text-center">{{report?.attended}}</td>
                        <td class="text-center">{{report?.correct}}</td>
                        <td class="text-center">{{report?.wrong}}</td>
                        <td class="text-center">{{report?.total_mark}}/{{report?.total_question}}</td>
                        <td class="text-center">{{report?.percentage}}</td>
                        <td class="text-center"><button type="button" rel="tooltip" class="btn btn-success"
                            data-toggle="modal" data-target="#reportviewModal">
                            <i class="material-icons">remove_red_eye</i>
                          </button>
                          <div class="modal fade" id="reportviewModal" tabindex="-1" role="dialog"
                            aria-labelledby="reportviewModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Example (Test Name)</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div class="table-responsive">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th class="text-center">Sl No</th>
                                          <th class="text-center">Question</th>
                                          <th class="text-center">Answer</th>
                                          <th class="text-center">Selected</th>
                                          <th class="text-center">?</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td class="text-center">1</td>
                                          <td class="text-center">largest</td>
                                          <td class="text-center">4</td>
                                          <td class="text-center">3</td>
                                          <td class="text-center"><i class="material-icons">close</i></td>
                                        </tr>
                                        <tr>
                                          <td class="text-center">2</td>
                                          <td class="text-center">smallest</td>
                                          <td class="text-center">1</td>
                                          <td class="text-center">3</td>
                                          <td class="text-center"><i class="material-icons">close</i></td>
                                        </tr>
                                      </tbody>
                                      <tfoot>
                                        <tr>
                                          <td class="text-center">Sl No</td>
                                          <td class="text-center">Question</td>
                                          <td class="text-center">Answer</td>
                                          <td class="text-center">Selected</td>
                                          <td class="text-center">?</td>
                                        </tr>
                                      </tfoot>
                                    </table>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td class="text-center">Sl No</td>
                        <td class="text-center">Test Name</td>
                        <td class="text-center">Questions</td>
                        <td class="text-center">Attended</td>
                        <td class="text-center">Correct</td>
                        <td class="text-center">Wrong</td>
                        <td class="text-center">Point</td>
                        <td class="text-center">%</td>
                        <td class="text-center">View</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>