<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <mat-form-field>
              <mat-select placeholder="Select">
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center" colspan="5">STAFF MEMBERS</th>
                        <th class="text-center"></th>
                      </tr>
                      <tr>
                        <th class="text-center">Sl No</th>
                        <th class="text-center">Id</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Department</th>
                        <th class="text-center">Designation</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center">1</td>
                        <td class="text-center">587</td>
                        <td class="text-center">Shaheer</td>
                        <td class="text-center">CSE</td>
                        <td class="text-center">HOD</td>
                        <td class="text-center"><button type="button" rel="tooltip" class="btn btn-success"
                            data-toggle="modal" data-target="#viewModal">
                            <i class="material-icons">remove_red_eye</i>
                          </button></td>
                      </tr>

                    </tbody>
                    <tfoot>
                      <tr>
                        <td class="text-center">Sl No</td>
                        <td class="text-center">Id</td>
                        <td class="text-center">Name</td>
                        <td class="text-center">Department</td>
                        <td class="text-center">Designation</td>
                        <td class="text-center">Action</td>
                      </tr>

                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center" colspan="5">STUDENT MEMBERS ( STUDENTS )</th>
                        <th class="text-center"></th>
                      </tr>
                      <tr>
                        <th class="text-center">Sl No</th>
                        <th class="text-center">Admsn No</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Course</th>
                        <th class="text-center">Designation</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center">1</td>
                        <td class="text-center">855</td>
                        <td class="text-center">Shajahan</td>
                        <td class="text-center">BCA</td>
                        <td class="text-center">Secretary</td>
                        <td class="text-center"><button type="button" rel="tooltip" class="btn btn-success"
                            data-toggle="modal" data-target="#viewModal">
                            <i class="material-icons">remove_red_eye</i>
                          </button></td>
                      </tr>

                    </tbody>
                    <tfoot>
                      <tr>
                        <td class="text-center">Sl No</td>
                        <td class="text-center">Admsn No</td>
                        <td class="text-center">Name</td>
                        <td class="text-center">Course</td>
                        <td class="text-center">Designation</td>
                        <td class="text-center">Action</td>
                      </tr>

                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center" colspan="5">PROGRAMMES</th>
                        <th class="text-center"></th>
                      </tr>
                      <tr>
                        <th class="text-center">Sl No</th>
                        <th class="text-center">Programme</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">On</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center">1</td>
                        <td class="text-center">Quiz</td>
                        <td class="text-center">Quiz Competition</td>
                        <td class="text-center">18/06/2019</td>
                        <td class="text-center"><button type="button" rel="tooltip" class="btn btn-success"
                            data-toggle="modal" data-target="#viewModal">
                            <i class="material-icons">remove_red_eye</i>
                          </button></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td class="text-center">Sl No</td>
                        <td class="text-center">Programme</td>
                        <td class="text-center">Description</td>
                        <td class="text-center">On</td>
                        <td class="text-center">Action</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>