<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <div class="card text-center">
          <div class="card-header">
          </div>
          <div class="card-body">
            <button class="btn btn-primary btn-fab btn-fab-mini btn-round">
              <i class="material-icons">group</i>
            </button>
            <h6 class="card-title">Students</h6>

          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card text-center">
          <div class="card-header">
          </div>
          <div class="card-body">
            <button class="btn btn-primary btn-fab btn-fab-mini btn-round">
              <i class="material-icons">spellcheck</i>
            </button>
            <h6 class="card-title">Attendance</h6>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card text-center">
          <div class="card-header">
          </div>

          <div class="card-body">
            <button class="btn btn-primary btn-fab btn-fab-mini btn-round">
              <i class="material-icons">work_off</i>
            </button>
            <h6 class="card-title">Leave</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="card text-center">
          <div class="card-header">
          </div>
          <div class="card-body">
            <button class="btn btn-primary btn-fab btn-fab-mini btn-round">
              <i class="material-icons">help</i>
            </button>
            <h6 class="card-title">Quiz</h6>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card text-center">
          <div class="card-header">
          </div>
          <div class="card-body">
            <button class="btn btn-primary btn-fab btn-fab-mini btn-round">
              <i class="material-icons">book</i>
            </button>
            <h6 class="card-title">Library</h6>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card text-center">
          <div class="card-header">
          </div>
          <div class="card-body">
            <button class="btn btn-primary btn-fab btn-fab-mini btn-round">
              <i class="material-icons">list</i>
            </button>
            <h6 class="card-title">Club</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>