<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">

                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#mark" data-toggle="tab">
                      <i class="material-icons">library_books</i>Mark
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#markEntry" data-toggle="tab">
                      <i class="material-icons">info</i> Mark Entry
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#StudentsMark" data-toggle="tab">
                      <i class="material-icons">library_books</i>Student Mark
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="mark">
                <div class="row">
                  <div class="col-lg-4 col-sm-6 col--md-4">
                    <mat-select placeholder="Admission Year ">
                      <mat-option *ngFor="let year of admsnYear" value="{{year.id}}">{{year.name}}</mat-option>
                    </mat-select>

                  </div>
                  <div class="col-lg-4 col-sm-6 col-md-4">

                    <mat-select placeholder="Select Course ">
                      <mat-option *ngFor="let course of courses" value="course?.course_id">{{course?.course_name}}
                      </mat-option>
                    </mat-select>

                  </div>
                  <div class="col-lg-4 col-sm-6 col-md-4">
                    <mat-select placeholder="Select course">
                      <mat-option *ngFor="let paper of papers" value="{{paper?.paper_id}}">{{paper?.paper_name}}
                      </mat-option>
                    </mat-select>

                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-sm-12 col-xs-12">
                    <h4 class="box-title text-info text-center">BCA3B04-Data Structures Using C</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12">

                    <div class="box-body table-responsive">
                      <table id="example2" class="table table-bordered table-hover">
                        <thead>
                          <tr class="text-center alert-dark">
                            <th>Sl</th>
                            <th>AdmNo</th>
                            <th>Univ Reg No</th>
                            <th>Name</th>
                            <th>Sem</th>
                            <th>Int1(5)</th>
                            <th>Int2(5)</th>
                            <th>Assgt(5)</th>
                            <th>Att(5)</th>
                            <th>Total(20)</th>
                            <th>Ext</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let mark of marks ; index as i" class="text-center">
                            <td>{{i+1}}</td>
                            <td>{{mark?.std_admissionnumber}}</td>
                            <td>{{mark?.std_universityregisternumber}}</td>
                            <td>{{mark?.std_name}}</td>
                            <td>{{mark?.std_currentsemester}}</td>
                            <td>{{mark?.internal1}}</td>
                            <td>{{mark?.internal2}}</td>
                            <td>{{mark?.assignment}}</td>
                            <td>{{mark?.attendance}}</td>
                            <td>{{mark?.total}}</td>
                            <td>{{mark?.external}}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr class="text-center alert-dark">
                            <td>Sl</td>
                            <td>AdmNo</td>
                            <td>Univ Reg No</td>
                            <td>Name</td>
                            <td>Sem</td>
                            <td>Int1(5)</td>
                            <td>Int2(5)</td>
                            <td>Assgt(5)</td>
                            <td>Att(5)</td>
                            <td>Total(20)</td>
                            <td>Ext</td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>


              <div class="tab-pane" id="markEntry">

                <div class="row">
                  <div class="col-lg-4 col-sm-6 col--md-4">
                    <mat-select placeholder="Admission Year ">
                      <mat-option *ngFor="let year of admsnYear" value="{{year.id}}">{{year.name}}</mat-option>
                    </mat-select>

                  </div>
                  <div class="col-lg-4 col-sm-6 col-md-4">

                    <mat-select placeholder="Select Course ">
                      <mat-option *ngFor="let course of courses" value="course?.course_id">{{course?.course_name}}
                      </mat-option>
                    </mat-select>

                  </div>
                  <div class="col-lg-4 col-sm-6 col-md-4">
                    <mat-select placeholder="Select course">
                      <mat-option *ngFor="let paper of papers" value="{{paper?.paper_id}}">{{paper?.paper_name}}
                      </mat-option>
                    </mat-select>

                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-sm-12 col-xs-12">
                    <h4 class="box-title text-info text-center">BCA3B04-Data Structures Using C</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12">

                    <div class="box-body table-responsive">
                      <table id="example2" class="table table-bordered table-hover">
                        <thead>
                          <tr class="text-center alert-dark">
                            <th>Sl</th>
                            <th>AdmNo</th>
                            <th>Univ Reg No</th>
                            <th>Name</th>
                            <th>Sem</th>
                            <th>Int1(5)</th>
                            <th>Int2(5)</th>
                            <th>Assgt(5)</th>
                            <th>Att(5)</th>
                            <th>Total(20)</th>
                            <th>Ext</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let mark of marks ; index as i" class="text-center">
                            <td>{{i+1}}</td>
                            <td>{{mark?.std_admissionnumber}}</td>
                            <td>{{mark?.std_universityregisternumber}}</td>
                            <td>{{mark?.std_name}}</td>
                            <td>{{mark?.std_currentsemester}}</td>
                            <td><input type="text" value="" size="1">
                            </td>
                            <td><input type="text" value="" size="1">
                            </td>
                            <td><input type="text" value="" size="1">
                            </td>
                            <td><input type="text" value="" size="1">
                            </td>
                            <td>{{mark?.total}}</td>
                            <td><input type="text" value="" size="1">
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr class="text-center alert-dark">
                            <td>Sl</td>
                            <td>AdmNo</td>
                            <td>Univ Reg No</td>
                            <td>Name</td>
                            <td>Sem</td>
                            <td>Int1(5)</td>
                            <td>Int2(5)</td>
                            <td>Assgt(5)</td>
                            <td>Att(5)</td>
                            <td>Total(20)</td>
                            <td>Ext</td>
                          </tr>
                        </tfoot>
                      </table>
                      <div class="row">
                        <div class="col-lg-4 col-sm-4 col-md-4">
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">
                          <button type="button" class="btn btn-info">Update</button>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="StudentsMark">
                <div class="row">
                  <div class="col-lg-3 col-sm-6 col-md-4">
                    <mat-select placeholder="Admission Year ">
                      <mat-option *ngFor="let year of admsnYear" value="{{year.id}}">{{year.name}}
                      </mat-option>
                    </mat-select>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-md-4">
                    <mat-select placeholder="Select Course ">
                      <mat-option *ngFor="let course of courses" value="{{course.course_name}}">
                        {{course.nick}}
                      </mat-option>
                    </mat-select>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-md-4">
                    <mat-select placeholder="Category ">
                      <mat-option value="1">Internal 1</mat-option>
                      <mat-option value="2">Internal 2</mat-option>
                      <mat-option value="3">Assignment</mat-option>
                      <mat-option value="4">Attendance</mat-option>
                      <mat-option value="5">Total</mat-option>
                    </mat-select>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-xs-6">
                    <mat-select placeholder="Semester ">
                      <mat-option value="string:1">First Semester</mat-option>
                      <mat-option value="string:2">Second Semester</mat-option>
                      <mat-option value="string:3">Third Semester</mat-option>
                      <mat-option value="string:4">Fourth Semester</mat-option>
                      <mat-option value="string:5">Fifth Semester</mat-option>
                      <mat-option value="string:6">Sixth Semester</mat-option>
                    </mat-select>
                  </div>
                  <div class="table-responsive">
                    <div class="box">
                      <div class="row box-header">
                      </div>
                      <div class="box-body table-responsive">
                        <div class="text-center" ng-show="class_details">
                          <h3><strong>First Semester B.A Eng</strong></h3>
                        </div>
                        <table id="example2" class="table table-bordered table-hover">
                          <thead>
                            <tr class="text-center alert-dark">
                              <th>Sl</th>
                              <th>AdmNo</th>
                              <th>Univ Reg No</th>
                              <th>Name</th>
                              <th ng-show="paper_name1">ENG1B1</th>
                              <th ng-show="paper_name2">ENG1A02</th>
                              <th ng-show="paper_name3">ENGAAC1</th>
                              <th ng-show="paper_name4">MAL1A07</th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="x in studentsData" class="text-center ng-scope">
                              <td>1</td>
                              <td>1039</td>
                              <td>7817</td>
                              <td>Anvar sadhiq</td>
                              <td>0</td>
                              <td ng-hide="showinternal2">0</td>
                              <td ng-hide="showassignment">0</td>
                              <td ng-hide="showattendance">0</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr class="text-center alert-dark">
                              <td>Sl</td>
                              <td>AdmNo</td>
                              <td>Univ Reg No</td>
                              <td>Name</td>
                              <td ng-show="paper_name1">ENG1B1</td>
                              <td ng-show="paper_name2">ENG1A02</td>
                              <td ng-show="paper_name3">ENGAAC1</td>
                              <td ng-show="paper_name4">MAL1A07</td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>