<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">

                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#markentry" data-toggle="tab">
                      <i class="material-icons">library_books</i>Mark Entry
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#StudentsMark" data-toggle="tab">
                      <i class="material-icons">library_books</i>Student Mark
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#PapersEntry" data-toggle="tab">
                      <i class="material-icons">info</i> Papers Entry
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="markentry">
                <div class="row">
                  <div class="col-lg-4 col-sm-6 col--md-4" ng-show="true">
                    <mat-select placeholder="Admission Year ">
                      <mat-option value="string:2019-20">2019-20</mat-option>
                      <mat-option value="string:2018-19">2018-19</mat-option>
                      <mat-option value="string:2017-18">2017-18</mat-option>
                      <mat-option value="string:2016-17">2016-17</mat-option>
                    </mat-select>

                  </div>
                  <div class="col-lg-4 col-sm-6 col-md-4" ng-show="true">

                    <mat-select placeholder="Select Course ">
                      <mat-option value="string:11">B.A Eng</mat-option>
                      <mat-option value="string:14">B.B.A</mat-option>
                      <mat-option value="string:1">B.C.A</mat-option>
                    </mat-select>

                  </div>
                  <div class="col-lg-4 col-sm-6 col-md-4" ng-show="true">
                    <mat-select placeholder="Select course">
                      <mat-option value="26">BCA3B04-Data Structures Using C</mat-option>
                      <mat-option value="125">MAL1A07-Malayala Sahithyam</mat-option>
                      <mat-option value="170">BCS2B02-Problem solving using 2</mat-option>
                      <mat-option value="171">BCS2B03-Programming laboratory I; lab exam of 1st and 2nd sem. HTML and
                        programming in</mat-option>
                      <mat-option value="179">BCA2B02-Problem solving using C</mat-option>
                      <mat-option value="180">BCA2B03-Programming laboratory I; lab exam of 1st and 2nd sem. HTML and
                        programming in</mat-option>
                      <mat-option value="188">BCA4B08-Computer graphics</mat-option>
                      <mat-option value="284">TEST1-Test attendance</mat-option>
                      <mat-option value="285">TEST12-Test attendance</mat-option>
                    </mat-select>

                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-sm-12 col-xs-12" ng-show="true">
                    <h4 class="box-title text-info text-center ng-binding">BCA3B04-Data Structures Using C</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12">

                    <div class="box-body table-responsive">
                      <table id="example2" class="table table-bordered table-hover">
                        <thead>
                          <tr class="text-center alert-dark">
                            <th>Sl</th>
                            <th>AdmNo</th>
                            <th>Univ Reg No</th>
                            <th>Name</th>
                            <th>Sem</th>
                            <th>Int1(<span class="alert-success ng-binding">5</span>)</th>
                            <th>Int2(<span class="alert-success ng-binding">5</span>)</th>
                            <th>Assgt(<span class="alert-success ng-binding">5</span>)</th>
                            <th>Att(<span class="alert-success ng-binding">5</span>)</th>
                            <th>Total(<span class="alert-success ng-binding">20</span>)</th>
                            <th>Ext</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="x in studentsData" class="text-center ng-scope">
                            <td class="ng-binding">1</td>
                            <td class="ng-binding">669</td>
                            <td class="text-left ng-binding">0</td>
                            <td class="text-left ng-binding">SAFNA YOOSUF</td>
                            <td class="ng-binding">1</td>
                            <td ng-hide="showinternal1" class="ng-binding">2</td>
                            <td ng-show="showinternal1" class="ng-hide"></td>
                            <td ng-hide="showinternal2" class="ng-binding">7.05</td>
                            <td ng-show="showinternal2" class="ng-hide"></td>
                            <td ng-hide="showassignment" class="ng-binding">2</td>
                            <td ng-show="showassignment" class="ng-hide"></td>
                            <td ng-hide="showattendance" class="ng-binding">5.5</td>
                            <td ng-show="showattendance" class="ng-hide"></td>
                            <td ng-show="true" class="ng-binding">16.55</td>
                            <td ng-hide="showexternal" class="ng-binding"></td>
                            <td ng-show="showexternal" class="ng-hide"></td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr class="text-center alert-dark">
                            <th>Sl</th>
                            <th>AdmNo</th>
                            <th>Univ Reg No</th>
                            <th>Name</th>
                            <th>Sem</th>
                            <th>Int1(<span class="alert-success ng-binding">5</span>)</th>
                            <th>Int2(<span class="alert-success ng-binding">5</span>)</th>
                            <th>Assgt(<span class="alert-success ng-binding">5</span>)</th>
                            <th>Att(<span class="alert-success ng-binding">5</span>)</th>
                            <th>Total(<span class="alert-success ng-binding">20</span>)</th>
                            <th>Ext</th>
                          </tr>
                        </tfoot>
                      </table>

                      <div class="row ng-hide" ng-show="openUpdate">
                        <div class="col-lg-4 col-sm-4 col-4"></div>
                        <div class="col-lg-4 col-sm-4 col-4">
                          <form name="" ng-submit="updateMark()" ng-model="p" method="post"
                            class="ng-pristine ng-untouched ng-valid ng-not-empty">
                            <button type="submit" class="btn btn-success btn-block btn-flat">
                              <span class="glyphicon glyphicon-ok"></span> Update
                            </button>
                          </form>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-4"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="StudentsMark">
                <div class="row">
                  <div class="table-responsive">
                    <div class="box">
                      <div class="row box-header">
                        <div class="col-lg-3 col-sm-6 col-md-4" ng-show="true">
                          <mat-select placeholder="Admission Year ">
                            <mat-option value="string:2019-20">2019-20</mat-option>
                            <mat-option value="string:2018-19">2018-19</mat-option>
                            <mat-option value="string:2017-18">2017-18</mat-option>
                            <mat-option value="string:2016-17">2016-17</mat-option>
                          </mat-select>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-md-4" ng-show="true">
                          <mat-select placeholder="Select Course ">
                            <mat-option value="string:11">B.A Eng</mat-option>
                            <mat-option value="string:18">M.A Eng</mat-option>
                          </mat-select>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-md-4" ng-show="true">
                          <mat-select placeholder="Category ">
                            <mat-option value="1">Internal 1</mat-option>
                            <mat-option value="2">Internal 2</mat-option>
                            <mat-option value="3">Assignment</mat-option>
                            <mat-option value="4">Attendance</mat-option>
                            <mat-option value="5">Total</mat-option>
                          </mat-select>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-xs-6" ng-show="true">
                          <mat-select placeholder="Semester ">
                            <mat-option value="string:1">First Semester</mat-option>
                            <mat-option value="string:2">Second Semester</mat-option>
                            <mat-option value="string:3">Third Semester</mat-option>
                            <mat-option value="string:4">Fourth Semester</mat-option>
                            <mat-option value="string:5">Fifth Semester</mat-option>
                            <mat-option value="string:6">Sixth Semester</mat-option>
                          </mat-select>
                        </div>
                      </div>
                      <div class="box-body table-responsive">
                        <div class="text-center" ng-show="class_details">
                          <h3><strong class="ng-binding">First Semester B.A Eng</strong></h3>
                        </div>
                        <table id="example2" class="table table-bordered table-hover">
                          <thead>
                            <tr class="text-center alert-dark">
                              <th>Sl</th>
                              <th>AdmNo</th>
                              <th>Univ Reg No</th>
                              <th>Name</th>
                              <th ng-show="paper_name1" class="ng-binding">ENG1B1</th>
                              <th ng-show="paper_name2" class="ng-binding">ENG1A02</th>
                              <th ng-show="paper_name3" class="ng-binding">ENGAAC1</th>
                              <th ng-show="paper_name4" class="ng-binding">MAL1A07</th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="x in studentsData" class="text-center ng-scope">
                              <td class="ng-binding">1</td>
                              <td class="ng-binding">1039</td>
                              <td class="text-left ng-binding">7817</td>
                              <td class="text-left ng-binding">Anvar sadhiq</td>
                              <td ng-hide="showinternal1" class="ng-binding">0</td>
                              <td ng-hide="showinternal2" class="ng-binding">0</td>
                              <td ng-hide="showassignment" class="ng-binding">0</td>
                              <td ng-hide="showattendance" class="ng-binding">0</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr class="text-center">
                              <td>Sl</td>
                              <td>AdmNo</td>
                              <td>Univ Reg No</td>
                              <td>Name</td>
                              <td ng-show="paper_name1" class="ng-binding">ENG1B1</td>
                              <td ng-show="paper_name2" class="ng-binding">ENG1A02</td>
                              <td ng-show="paper_name3" class="ng-binding">ENGAAC1</td>
                              <td ng-show="paper_name4" class="ng-binding">MAL1A07</td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="PapersEntry">
                <div class="box">
                  <div class="row box-header">
                    <div class="col-lg-4 col-sm-6 col-md-4" ng-show="true">
                      <mat-select placeholder="Admission Year ">
                        <mat-option value="string:2019-20">2019-20</mat-option>
                        <mat-option value="string:2018-19">2018-19</mat-option>
                        <mat-option value="string:2017-18">2017-18</mat-option>
                        <mat-option value="string:2016-17">2016-17</mat-option>
                      </mat-select>

                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-4" ng-show="true">
                      <mat-select placeholder="Select Course ">
                        <mat-option value="string:11">B.A Eng</mat-option>
                        <mat-option value="string:12">B.A mass</mat-option>
                        <mat-option value="string:13">B.B.A </mat-option>
                        <mat-option value="string:14">B.C.A</mat-option>
                        <mat-option value="string:15">B.Com</mat-option>
                        <mat-option value="string:16">Bsc.Maths</mat-option>
                        <mat-option value="string:17">Bsc.CS </mat-option>
                        <mat-option value="string:18">MA.Eng</mat-option>
                        <mat-option value="string:22">Bsc.Physics</mat-option>
                      </mat-select>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-4" ng-show="true">
                      <mat-select placeholder="Select Semester ">
                        <mat-option value="string:1">First Semester</mat-option>
                        <mat-option value="string:2">Second Semester</mat-option>
                        <mat-option value="string:3">Third Semester</mat-option>
                        <mat-option value="string:4">Fourth Semester</mat-option>
                        <mat-option value="string:5">Fifth Semester</mat-option>
                        <mat-option value="string:6">Sixth Semester</mat-option>
                      </mat-select>
                    </div>
                  </div>
                  <div class="row box-header">
                    <div class="box-body table-responsive">
                      <table id="" ng-hide="isShowUpdate" class="table table-striped table-hover table-condensed">
                        <thead>
                          <tr>
                            <th>Sl No</th>
                            <th>Code</th>
                            <th>Paper</th>
                            <th>Teacher</th>
                            <th>Interl1</th>
                            <th>Interl2</th>
                            <th>Assgt</th>
                            <th>Att</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="x in papers" class="ng-scope">
                            <td class="ng-binding">1</td>
                            <td class="ng-binding">MAL1A07</td>
                            <td class="ng-binding">Malayala Sahithyam</td>
                            <td>Shaheer Test</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td class="ng-binding">Active</td>
                            <td class="text-center" ng-show="true"><a href="" data-toggle="modal"
                                ng-click="openUpdatePaper(x)" data-target="#authormodel"><i class="fa fa-eye"></i></a>
                              <div class="modal fade" id="authormodel" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <span><a href="" ng-click="openSelected()"><i
                                            class="glyphicon glyphicon-copy"></i></a></span>
                                      <h4 class="modal-title bg-green text-center center-block">Enter Paper Details</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span></button>
                                      <h3 class="bg-info alert-success ng-binding"></h3>
                                      <h3 class="alert-info ng-binding"></h3>
                                    </div>
                                    <div class="modal-body table-responsive">
                                      <form ng-submit="addNewPaper()" ng-model="paper" method="post"
                                        class="ng-pristine ng-untouched ng-invalid ng-invalid-required ng-not-empty">
                                        <table id="" ng-hide="isShowUpdate" class="table table-hover table-condensed">
                                          <tbody>
                                            <tr class="form-group has-feedback">
                                              <td>Paper Code</td>
                                              <td colspan="2"><input
                                                  class="form-control ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
                                                  type="text" placeholder="Paper Code" ng-model="paper.paper_code"
                                                  required=""></td>
                                            </tr>
                                            <tr class="form-group has-feedback" ng-show="true">
                                              <td>Paper Name</td>
                                              <td colspan="2"><input
                                                  class="form-control ng-pristine ng-untouched ng-not-empty ng-valid ng-valid-required"
                                                  type="text" placeholder="Paper Name" ng-model="paper.paper_name"
                                                  required=""></td>
                                            </tr>
                                            <tr class="form-group has-feedback">
                                              <td>Admission Year</td>
                                              <td><select ng-model="paper.adm_year"
                                                  ng-options="c.id as c.name for c in admnYeasrs"
                                                  class="form-control ng-pristine ng-untouched ng-not-empty ng-valid ng-valid-required"
                                                  ng-change="getPapersFunction()" required="">
                                                  <option value="" class="">Admission Year</option>
                                                  <option label="2019-20" value="string:2019-20" selected="selected">
                                                    2019-20</option>
                                                  <option label="2018-19" value="string:2018-19">2018-19</option>
                                                  <option label="2017-18" value="string:2017-18">2017-18</option>
                                                  <option label="2016-17" value="string:2016-17">2016-17</option>
                                                </select></td>
                                            </tr>
                                            <tr class="form-group has-feedback">
                                              <td>Course</td>
                                              <td colspan="2"><select ng-model="paper.course_id"
                                                  ng-options="c.course_id as c.course_name for c in LiveCourseList"
                                                  class="form-control ng-pristine ng-untouched ng-not-empty ng-valid ng-valid-required"
                                                  required="">
                                                  <option value="" class="">Select Course</option>
                                                  <option label="B.A English" value="string:11" selected="selected">B.A
                                                    English</option>
                                                  <option label="B.A Mass Communication and Journalism"
                                                    value="string:12">B.A Mass
                                                    Communication and Journalism</option>
                                                  <option label="B.B.A" value="string:13">B.B.A</option>
                                                  <option label="B.C.A" value="string:14">B.C.A</option>
                                                  <option label="B.Com (Computer Applications)" value="string:15">B.Com
                                                    (Computer
                                                    Applications)</option>
                                                  <option label="B.Sc Mathematics" value="string:16">B.Sc Mathematics
                                                  </option>
                                                  <option label="B.Sc Computer Science" value="string:17">B.Sc Computer
                                                    Science</option>
                                                  <option label="M.A English" value="string:18">M.A English</option>
                                                  <option label="Bsc.Physics" value="string:22">Bsc.Physics</option>
                                                </select></td>
                                            </tr>
                                            <tr class="form-group has-feedback">
                                              <td>Semester</td>
                                              <td colspan="2"><select ng-model="paper.semester"
                                                  ng-options="d.id as d.name for d in semesters"
                                                  class="form-control ng-pristine ng-untouched ng-not-empty ng-valid ng-valid-required"
                                                  required="">
                                                  <option value="" class="">Select Semester</option>
                                                  <option label="First Semester" value="string:1" selected="selected">
                                                    First Semester
                                                  </option>
                                                  <option label="Second Semester" value="string:2">Second Semester
                                                  </option>
                                                  <option label="Third Semester" value="string:3">Third Semester
                                                  </option>
                                                  <option label="Fourth Semester" value="string:4">Fourth Semester
                                                  </option>
                                                  <option label="Fifth Semester" value="string:5">Fifth Semester
                                                  </option>
                                                  <option label="Sixth Semester" value="string:6">Sixth Semester
                                                  </option>
                                                </select></td>
                                            </tr>
                                            <tr class="form-group has-feedback">
                                              <td>Teacher</td>
                                              <td colspan="2"><select ng-model="paper.user_id"
                                                  ng-options="c.faculty_id as c.faculty_name for c in LiveTeacherList"
                                                  class="form-control ng-pristine ng-untouched ng-not-empty ng-valid ng-valid-required"
                                                  required="">
                                                  <option value="" class="">Select Teacher</option>
                                                  <option label="Firoz K A HOD English" value="string:1007">Firoz K A
                                                    HOD English
                                                  </option>
                                                  <option label="FAHAD RAHMAN K" value="string:1009">FAHAD RAHMAN K
                                                  </option>
                                                  <option label="arun s" value="string:1010">arun s</option>
                                                  <option label="Firoz K A" value="string:1026">Firoz K A</option>
                                                  <option label="null" value="string:100" selected="selected"></option>
                                                </select></td>
                                            </tr>
                                            <tr class="form-group has-feedback">
                                              <td colspan="2" class="text-center"><b>Maximum marks</b></td>
                                            </tr>
                                            <tr class="form-group has-feedback">
                                              <td>Internal 1</td>
                                              <td colspan="2"><input
                                                  class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
                                                  type="text" ng-model="paper.internal1"
                                                  placeholder="Internal 1 (Maximum marks)" required=""></td>
                                            </tr>
                                            <tr class="form-group has-feedback">
                                              <td>Internal 2</td>
                                              <td colspan="2"><input
                                                  class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
                                                  type="text" ng-model="paper.internal2"
                                                  placeholder="Internal 2 (Maximum marks)" required=""></td>
                                            </tr>
                                            <tr class="form-group has-feedback">
                                              <td>Assignment</td>
                                              <td colspan="2"><input
                                                  class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
                                                  type="text" ng-model="paper.assignment"
                                                  placeholder="Assignment (Maximum marks)" required=""></td>
                                            </tr>
                                            <tr class="form-group has-feedback">
                                              <td>Attendance</td>
                                              <td colspan="2"><input
                                                  class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
                                                  type="text" ng-model="paper.attendance"
                                                  placeholder="Attendance (Maximum marks)" required=""></td>
                                            </tr>                                           
                                            <tr class="form-group has-feedback ng-hide" ng-show="false">
                                              <td>Attendance Status</td>
                                              <td colspan="2">
                                                <select ng-model="paper.attendance_status"
                                                  class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                                                  <option value="1" selected="selected">Opened</option>
                                                  <option value="0">Closed</option>
                                                </select>
                                              </td>
                                            </tr>
                                            <tr class="form-group has-feedback" ng-show="isUpdate">
                                              <td>Status</td>
                                              <td colspan="2"><select ng-model="paper.status"
                                                  class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                                                  <!-- <option value="">Status</option> -->
                                                  <option value="1" selected="selected">Opened</option>
                                                  <option value="0">Closed</option>
                                                  <option value="9">Mark Entry</option>
                                                </select></td>
                                            </tr>
                                          </tbody>
                                        </table>

                                        <div class="row" ng-show="isUpdate">
                                          <div class="col-xs-3 col-lg-3 col-sm-3">
                                          </div>
                                          <div class="col-xs-6 col-lg-6 col-sm-6">
                                            <button type="submit" class="btn btn-primary btn-block btn-flat">
                                              <span class="glyphicon glyphicon-tick"></span>Update</button>
                                          </div>
                                          <div class="col-xs-3 col-lg-3 col-sm-3">
                                          </div>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </td>
                          </tr>
                          <tr ng-repeat="x in papers" class="ng-scope">
                            <td class="ng-binding">2</td>
                            <td class="ng-binding">ENG1B1</td>
                            <td class="ng-binding">Reading poetry</td>
                            <td>Sdadeer Test</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>                            	
                            <td class="ng-binding">Active</td>
                            <td class="text-center" ng-show="true"><a href="" data-toggle="modal"
                                ng-click="openUpdatePaper(x)" data-target="#authormodel"><i class="fa fa-eye"></i></a>
                            </td>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>