<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <!--  -->
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">

                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#leave" data-toggle="tab">
                      <i class="material-icons">work_off</i>Leave
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#report" data-toggle="tab">
                      <i class="material-icons">info</i> Report
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#apply" data-toggle="tab">
                      <i class="material-icons">control_point</i> Apply For Leave
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="leave">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">Leave Date </th>
                        <th class="text-center">Leave Type </th>
                        <th class="text-center">Day(s) </th>
                        <th class="text-center">Leave Reason </th>
                        <th class="text-center">Status </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let leave of leave_details">
                        <td class="text-center">{{leave?.date}}</td>
                        <td class="text-center">{{leave?.type}}</td>
                        <td class="text-center">{{leave?.daysv}}</td>
                        <td class="text-center">{{leave?.reason}}</td>
                        <td class="text-center">{{leave?.statusv}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td class="text-center">Leave Date </td>
                        <td class="text-center">Leave Type </td>
                        <td class="text-center">Day(s) </td>
                        <td class="text-center">Leave Reason </td>
                        <td class="text-center">Status </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="report">
                <div class="row">
                  <div class="col-sm-6 col-md-4">From <input type="date">
                  </div>
                  <div class="col-sm-6 col-md-4">To   <input type="date">
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <button type="button" class="btn btn-info">Submit</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="text-center"><b>Casual Leave </b></th>
                            <th class="text-center"><b>Sick Leave </b></th>
                            <th class="text-center"><b>Earned Leave</b></th>
                            <th class="text-center"><b>Paid Leave</b></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-center">2</td>
                            <td class="text-center">3</td>
                            <td class="text-center">1</td>
                            <td class="text-center">4</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td class="text-center"><b>Casual Leave </b></td>
                            <td class="text-center"><b>Sick Leave </b></td>
                            <td class="text-center"><b>Earned Leave</b></td>
                            <td class="text-center"><b>Paid Leave</b></td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="apply">
                <div class="row">
                  <div class="col-md-12">
                    <input type="date" class="form-control" id="date">
                    <mat-form-field>
                      <mat-select placeholder="Leave Type">
                        <mat-option value="Casual Leave">Casual Leave</mat-option>
                        <mat-option value="Sick Leave or Medical Leave">Sick Leave or Medical Leave</mat-option>
                        <mat-option value="Earned Leave or Privileged Leave">Earned Leave or Privileged Leave
                        </mat-option>
                        <mat-option value="Paid Leave or Loss of Pay">Paid Leave or Loss of Pay</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-select placeholder="Day">
                        <mat-option value="Full Day">Full Day</mat-option>
                        <mat-option value="FN">FN</mat-option>
                        <mat-option value="AN">AN</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                      <textarea matInput placeholder="Leave Reason"></textarea>
                    </mat-form-field>
                    <button type="button" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>