<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <!--  -->
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">

                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#questions" data-toggle="tab">
                      <i class="material-icons">help_outline</i>Questions
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#test" data-toggle="tab">
                      <i class="material-icons">description</i>Test
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <!-- <li class="nav-item">
                    <a mat-button class="nav-link" href="#result" data-toggle="tab">
                      <i class="material-icons">grade</i>Result
                      <div class="ripple-container"></div>
                    </a>
                  </li> -->
                  <!-- <li class="nav-item">
                    <a mat-button class="nav-link" href="#quiz" data-toggle="tab">
                      <i class="material-icons">edit</i>Quiz
                      <div class="ripple-container"></div>
                    </a>
                  </li> -->
                  <!-- <li class="nav-item">
                    <a mat-button class="nav-link" href="#report" data-toggle="tab">
                      <i class="material-icons">report</i>Report
                      <div class="ripple-container"></div>
                    </a>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">


              <div class="tab-pane active" id="questions">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="text-center" colspan="4">
                              <mat-form-field>
                                <mat-select placeholder="Select" [(value)]="selectedSubject"
                                  (selectionChange)="onSelectSubject($event)">
                                  <mat-option *ngFor="let subject of subjects" [value]="subject">
                                    {{subject?.subject}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </th>
                            <th class="text-center" colspan="2">
                              <button type="button" rel="tooltip" class="btn btn-success" (click)="onAddQueModal()"
                                data-toggle="modal" data-target="#queModal">
                                <i class="material-icons">add</i>
                              </button>
                              <div class="modal fade" id="queModal" tabindex="-1" role="dialog"
                                aria-labelledby="queModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <form [formGroup]="addQuestionForm" (ngSubmit)="onAddQuestion()">
                                      <div class="modal-header bg-info">
                                        <h5 class="modal-title" id="queLabel">Add Question</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">

                                        <div class="select">
                                          <select class="selectpicker" formControlName="subject_id" #subject_id>
                                            <option *ngFor="let subject of subjects" value="{{subject.subject_id}}">
                                              {{subject.subject}}
                                            </option>
                                          </select>
                                        </div>
                                        <button type="button" rel="tooltip" class="btn btn-success" data-toggle="modal"
                                          data-target="#subselectModal">
                                          <i class="material-icons">add</i>
                                        </button>
                                        <mat-form-field>
                                          <textarea matInput placeholder="Question" formControlName="question"
                                            #question></textarea>
                                        </mat-form-field>
                                        <mat-form-field>
                                          <input matInput placeholder="Option 1 (Answer)" formControlName="answer"
                                            #answer>
                                        </mat-form-field>
                                        <mat-form-field>
                                          <input matInput placeholder="Option 2" formControlName="option_1" #option_1>
                                        </mat-form-field>
                                        <mat-form-field>
                                          <input matInput placeholder="Option 3" formControlName="option_2" #option_2>
                                        </mat-form-field>
                                        <mat-form-field>
                                          <input matInput placeholder="Option 4" formControlName="option_3" #option_3>
                                        </mat-form-field>
                                        <div class="alert alert-success" role="alert" *ngIf="addedQuestion">
                                          Question Added Successfully !
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                          data-dismiss="modal">Close</button>
                                        <button type="submit" [disabled]="addQuestionForm.invalid"
                                          class="btn btn-info">Submit</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>

                              <div class="modal" id="subselectModal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header bg-danger">
                                      <h5 class="modal-title">Add Subject</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <form [formGroup]="addSubjectForm" (ngSubmit)="onAddSubject()">
                                        <mat-form-field>
                                          <input matInput placeholder="Enter Subject Name" formControlName="subject"
                                            #subject>
                                        </mat-form-field>
                                        <div class="modal-footer">
                                          <button type="submit" [disabled]="addSubjectForm.invalid"
                                            class="btn btn-danger">Add</button>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </th>
                          </tr>
                          <tr>
                            <th class="text-center">Sl No.</th>
                            <th class="text-center">Questions</th>
                            <th class="text-center">Answer</th>
                            <th class="text-center">Option 1</th>
                            <th class="text-center">Option 2</th>
                            <th class="text-center">Option 3</th>
                            <th class="text-center">Author</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let que of ques; index as i">
                            <td class="text-center">{{i+1}}</td>
                            <td>{{que?.question}}</td>
                            <td class="text-center">{{que?.answer}}</td>
                            <td class="text-center">{{que?.option_1}}</td>
                            <td class="text-center">{{que?.option_2}}</td>
                            <td class="text-center">{{que?.option_3}}</td>
                            <td class="text-center">{{que?.faculty_name}}</td>
                            <td class="text-center">
                              <button type="button" rel="tooltip" class="btn btn-success" (click)="onEditQuestion(que)"
                                data-toggle="modal" data-target="#viewModal">
                                <i class="material-icons">remove_red_eye</i>
                              </button>
                            </td>
                            <div class="modal fade" id="viewModal" tabindex="-1" role="dialog"
                              aria-labelledby="viewModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <form [formGroup]="editQuestionForm" (ngSubmit)="onUpdateQuestion($event)">
                                    <div class="modal-header bg-success">
                                      <h5 class="modal-title" id="queLabel">Questions</h5>

                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">

                                      <div class="select">
                                        <select class="selectpicker text-center" formControlName="subject_id"
                                          #subject_id>
                                          <option *ngFor="let subject of subjects" value="{{subject.subject_id}}">
                                            {{subject.subject}}
                                          </option>
                                        </select>
                                      </div>
                                      <mat-form-field>
                                        <textarea matInput placeholder="Question" formControlName="question"
                                          #question></textarea>
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Option 1 (Answer)" formControlName="answer"
                                          #answer>
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Option 2" formControlName="option_1" #option_1>
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Option 3" formControlName="option_2" #option_2>
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput placeholder="Option 4" formControlName="option_3" #option_3>
                                      </mat-form-field>
                                      <label id="status-radio-group-label">Status</label>
                                      <mat-radio-group aria-labelledby="status-radio-group-label"
                                        class="questions-radio-group" formControlName="status" #status>
                                        <mat-radio-button class="questions-radio-button" *ngFor="let stat of statuses"
                                          [value]="stat.id">
                                          {{stat.status}}
                                        </mat-radio-button>
                                      </mat-radio-group>
                                      <div class="alert alert-success" role="alert" *ngIf="updatedQuestion">
                                        Question Updated Successfully !
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                      <button type="submit" [disabled]="editQuestionForm.invalid"
                                        class="btn btn-primary">Update</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </tr>
                        </tbody>
                        <tfoot>
                          <td class="text-center">Sl No.</td>
                          <td class="text-center">Questions</td>
                          <td class="text-center">Answer</td>
                          <td class="text-center">Option 1</td>
                          <td class="text-center">Option 2</td>
                          <td class="text-center">Option 3</td>
                          <td class="text-center">Author</td>
                          <td class="text-center">Action</td>
                        </tfoot>
                      </table>
                    </div>
                    <!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator> -->

                  </div>
                </div>
              </div>


              <div class="tab-pane" id="test">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="text-center" colspan="4"></th>
                            <th class="text-center" colspan="4">
                              <button type="button" rel="tooltip" (click)="testModal(subject,quiz_subjects)"
                                class="btn btn-success" data-toggle="modal" data-target="#testModal">
                                <i class="material-icons">add</i>
                              </button>
                              <div class="modal fade" id="testModal" tabindex="-1" role="dialog"
                                aria-labelledby="testModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <form [formGroup]="addTestForm" (ngSubmit)="onAddTest(subject,quiz_subjects)">
                                      <div class="modal-header bg-info">
                                        <h5 class="modal-title" id="testLabel">Add Test</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">

                                        <mat-form-field>
                                          <input matInput placeholder="Test Name" formControlName="test_name"
                                            #test_name>
                                        </mat-form-field>
                                        <mat-form-field>
                                          <input matInput type="number" placeholder="Mark Per Question"
                                            formControlName="mark_per_question" #mark_per_question>
                                        </mat-form-field>
                                        <mat-form-field>
                                          <input matInput type="number" placeholder="No of Questions"
                                            formControlName="total_question" #total_question>
                                        </mat-form-field>
                                        <mat-form-field>
                                          <input matInput placeholder="Maximum Mark"
                                            value="{{mark_per_question.value*total_question.value}}" readonly
                                            formControlName="total_mark" #total_mark>
                                        </mat-form-field>
                                        <mat-form-field>
                                          <input matInput type="number" placeholder="Maximum Time(Seconds)"
                                            formControlName="test_time" #test_time>
                                        </mat-form-field>
                                        <mat-form-field>
                                          <input matInput type="number" placeholder="Wrong Answer Mark"
                                            formControlName="is_negative" #is_negative>
                                        </mat-form-field>
                                        <mat-form-field>
                                          <textarea matInput placeholder="Test Details" formControlName="description"
                                            #description></textarea>
                                        </mat-form-field>
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th class="text-center">Sl No</th>
                                              <th class="text-right">
                                                <mat-checkbox labelPosition="before"
                                                  (change)="selectAll(subject, $event, 'quiz_subjects')">
                                                  Subject
                                                </mat-checkbox>
                                              </th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngFor="let subject of subjects; index as i">
                                              <td class="text-center">{{i+1}}</td>
                                              <td class="text-right" formArrayName="quiz_subjects">
                                                <!-- {{subject?.is_selected}} -->
                                                <mat-checkbox labelPosition="before" [checked]="subject.is_selected"
                                                  (change)="updateCheckBoxArray(subject, $event, 'quiz_subjects')"
                                                  value="subject.subject_id">
                                                  {{subject.subject}}</mat-checkbox>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <div class="alert alert-success" role="alert" *ngIf="addedTest">
                                          Test Added Successfully !
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                          data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-info"
                                          [disabled]="addTestForm.invalid">Submit</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </th>
                          </tr>
                          <tr>
                            <th class="text-center">Sl No.</th>
                            <th class="text-center">Test Name</th>
                            <th class="text-center">Test Key</th>
                            <th class="text-center">Subject</th>
                            <th class="text-center">Point</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let test of tests; index as i">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-center">{{test?.test_name}}</td>
                            <td class="text-center">{{test?.test_key}}</td>
                            <td class="text-center">{{test?.subject}}</td>
                            <td class="text-center">{{test?.total_question*test?.mark_per_question}}</td>
                            <!-- <td class="text-center">
                              {{test?.status=== '0' ? 'Removed' : test?.status=== '1' ? 'Opened': 'On Hold'}}</td> -->
                            <td class="text-center">{{test?.statusv}}</td>
                            <td class="text-center">
                              <button type="button" rel="tooltip" class="btn btn-success" (click)="onEditTests(test)"
                                data-toggle="modal" data-target="#testviewModal">
                                <i class="material-icons">remove_red_eye</i>
                              </button>
                              <div class="modal fade" id="testviewModal" tabindex="-1" role="dialog"
                                aria-labelledby="testviewModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <form [formGroup]="editTestForm" (ngSubmit)="onUpdateTest()">
                                      <div class="modal-header bg-success">
                                        <h5 class="modal-title" id="queLabel">Test</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">

                                        <mat-form-field>
                                          <input matInput placeholder="Test Name" formControlName="test_name"
                                            #test_name>
                                        </mat-form-field>
                                        <mat-form-field>
                                          <input matInput placeholder="Mark Per Question"
                                            formControlName="mark_per_question" #mark_per_question>
                                        </mat-form-field>
                                        <mat-form-field>
                                          <input matInput placeholder="No of Questions" formControlName="total_question"
                                            #total_question>
                                        </mat-form-field>
                                        <mat-form-field>
                                          <input matInput placeholder="Maximum Mark" readonly
                                            formControlName="total_mark" #total_mark>
                                        </mat-form-field>
                                        <mat-form-field>
                                          <input matInput placeholder="Maximum Time(Seconds)"
                                            formControlName="test_time" #test_time>
                                        </mat-form-field>
                                        <mat-form-field>
                                          <input matInput placeholder="Wrong Answer Mark" formControlName="is_negative"
                                            #is_negative>
                                        </mat-form-field>
                                        <mat-form-field>
                                          <input matInput type="number" placeholder="Number Of Chances"
                                            formControlName="number_of_chances" #number_of_chances>
                                        </mat-form-field>
                                        <label id="status-radio-group-label">Status</label>
                                        <mat-radio-group aria-labelledby="status-radio-group-label"
                                          class="questions-radio-group" formControlName="status" #status>
                                          <mat-radio-button class="questions-radio-button" *ngFor="let stat of statuses"
                                            [value]="stat.id">
                                            {{stat.status}}
                                          </mat-radio-button>
                                        </mat-radio-group>
                                        <mat-form-field>
                                          <textarea matInput placeholder="Test Details" formControlName="description"
                                            #description></textarea>
                                        </mat-form-field>
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th class="text-center">Sl No</th>
                                              <th class="text-right">
                                                <mat-checkbox labelPosition="before"
                                                  (change)="onselectAll(subject, $event, 'quiz_subjects')">
                                                  Subject
                                                </mat-checkbox>
                                              </th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngFor="let subject of subjects; index as i">
                                              <td class="text-center">{{i+1}}</td>
                                              <td class="text-right" formArrayName="quiz_subjects">
                                                <mat-checkbox labelPosition="before" [checked]="subject.is_selected"
                                                  (change)="onupdateCheckBoxArray(subject, $event, 'quiz_subjects')"
                                                  value="subject.subject_id">
                                                  {{subject.subject}}</mat-checkbox>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <div class="alert alert-success" role="alert" *ngIf="updatedTest">
                                          Test updated Successfully !
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                          data-dismiss="modal">Close</button>
                                        <button type="submit" [disabled]="editTestForm.invalid"
                                          class="btn btn-primary">Update</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <td class="text-center">Sl No.</td>
                          <td class="text-center">Test Name</td>
                          <td class="text-center">Test Key</td>
                          <td class="text-center">Subject</td>
                          <td class="text-center">Point</td>
                          <td class="text-center">Status</td>
                          <td class="text-center">Action</td>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>