.questions-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.questions-radio-button {
  margin: 5px;
}
.cdk-overlay-connected-position-bounding-box {
  z-index: 99999 !important;
}
::ng-deep .ifSelected .mat-step-icon-selected {
  background-color: green;
}
.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.light-color {
  background-color: #d6edff;
}
.bg-white{
  background-color: white;
}


/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #ededed;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 15em;
  height: 3em;
  line-height: 3;
  background: #ededed;
  overflow: hidden;
  border-radius: 0.25em;
}
select {
  flex: 1;
  padding: 0 0.5em;
  color: rgb(7, 7, 7);
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #d4d2d2;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.description {
  color: rgb(7, 7, 7);
  text-indent: 47px;
}
.cntrslct{
  justify-content: center;
}