<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">

                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#myPaper" data-toggle="tab">
                      <i class="material-icons">storage</i>My Paper
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#paperEntry" data-toggle="tab">
                      <i class="material-icons">add_box</i> Paper Entry
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">

              <div class="tab-pane active" id="myPaper">
                <div class="row">
                  <div class="col-lg-4 col-sm-6 col-md-4">
                    <mat-select placeholder="Admission Year ">
                      <mat-option *ngFor="let year of admsnYear" value="{{year.id}}">{{year.name}}
                      </mat-option>
                    </mat-select>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-md-4">
                    <mat-select placeholder="Select Course ">
                      <mat-option *ngFor="let course of courses" value="{{course.course_name}}">
                        {{course.nick}}
                      </mat-option>
                    </mat-select>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-xs-6">
                    <mat-select placeholder="Semester ">
                      <mat-option value="string:1">First Semester</mat-option>
                      <mat-option value="string:2">Second Semester</mat-option>
                      <mat-option value="string:3">Third Semester</mat-option>
                      <mat-option value="string:4">Fourth Semester</mat-option>
                      <mat-option value="string:5">Fifth Semester</mat-option>
                      <mat-option value="string:6">Sixth Semester</mat-option>
                    </mat-select>
                  </div>

                  <div class="table-responsive">
                    <div class="box">
                      <div class="row box-header">
                      </div>
                      <div class="box-body table-responsive">
                        <div class="text-center">
                          <h3><strong>First Semester B.A Eng</strong></h3>
                        </div>
                        <table id="example2" class="table table-bordered table-hover">
                          <thead>
                            <tr class="text-center alert-dark">
                              <th>Code</th>
                              <th>Paper</th>
                              <th>Teacher</th>
                              <th>Internal 1</th>
                              <th>Internal 2</th>
                              <th>Assignment</th>
                              <th>Attendance</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let paper of papers" class="text-center">
                              <td>{{paper?.paper_code}}</td>
                              <td>{{paper?.paper_name}}</td>
                              <td>{{paper?.faculty_name}}</td>
                              <td>{{paper?.internal1}}</td>
                              <td>{{paper?.internal2}}</td>
                              <td>{{paper?.assignment}}</td>
                              <td>{{paper?.attendance}}</td>
                              <td>{{paper?.statusv}}</td>
                              <td class="text-center"><button type="button" rel="tooltip" class="btn btn-success"
                                  data-toggle="modal" data-target="#paperViewModal">
                                  <i class="material-icons">remove_red_eye</i>
                                </button>
                                <div class="modal fade" id="paperViewModal" tabindex="-1" role="dialog"
                                  aria-labelledby="paperViewModalModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title">ENTER PAPER DETAILS</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="example-container">
                                          <mat-form-field>
                                            <input matInput placeholder="Paper Code">
                                          </mat-form-field>
                                          <mat-form-field>
                                            <input matInput placeholder="Paper Name">
                                          </mat-form-field>
                                          <mat-form-field>
                                            <mat-select placeholder="Admsn Year">
                                              <mat-option *ngFor="let year of admsnYear" value="{{year.id}}">
                                                {{year.name}}</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                          <mat-form-field>
                                            <mat-select placeholder="Course">
                                              <mat-option *ngFor="let course of courses"
                                                value="{{course?.course_name}}">{{course.nick}}
                                              </mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                          <mat-form-field>
                                            <mat-select placeholder="Semester">
                                              <mat-option value="Semester1">First Semester</mat-option>
                                              <mat-option value="Semester2">Second Semester</mat-option>
                                              <mat-option value="Semester3">Third Semester</mat-option>
                                              <mat-option value="Semester4">Fourth Semester</mat-option>
                                              <mat-option value="Semester5">Fifth Semester</mat-option>
                                              <mat-option value="Semester6">Sixth Semester</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                          <mat-form-field>
                                            <mat-select placeholder="Teacher">
                                              <mat-option value="option">Shaheer Test</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                          <h5 class="text-center"><b>MAXIMUM MARKS</b></h5>
                                          <mat-form-field>
                                            <input matInput placeholder="Internal 1">
                                          </mat-form-field>
                                          <mat-form-field>
                                            <input matInput placeholder="Internal 2">
                                          </mat-form-field>
                                          <mat-form-field>
                                            <input matInput placeholder="Assignment">
                                          </mat-form-field>
                                          <mat-form-field>
                                            <input matInput placeholder="Attendance">
                                          </mat-form-field>
                                        <mat-form-field>
                                          <mat-select placeholder="Status">
                                            <mat-option *ngFor="let paper of papers" value="paper.status">
                                                <div [ngSwitch]="paper.status">
                                                    <div *ngSwitchCase="0">Closed</div>
                                                    <div *ngSwitchCase="1">Active</div>
                                                    <div *ngSwitchDefault>Mark Entry</div>
                                                </div>                                              
                                            </mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                        <button type="button" class="btn btn-info">Update</button>
                                        </div>


                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr class="text-center">
                              <td>Code</td>
                              <td>Paper</td>
                              <td>Teacder</td>
                              <td>Internal 1</td>
                              <td>Internal 2</td>
                              <td>Assignment</td>
                              <td>Attendance</td>
                              <td>Status</td>
                              <td>Action</td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="paperEntry">
                <h4 class="text-center">ENTER PAPER DETAILS</h4>
                <div class="example-container">
                  <mat-form-field>
                    <input matInput placeholder="Paper Code">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Paper Name">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Admsn Year">
                      <mat-option *ngFor="let year of admsnYear" value="{{year.id}}">{{year.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Course">
                      <mat-option *ngFor="let course of courses" value="{{course?.course_name}}">{{course.nick}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Semester">
                      <mat-option value="Semester1">First Semester</mat-option>
                      <mat-option value="Semester2">Second Semester</mat-option>
                      <mat-option value="Semester3">Third Semester</mat-option>
                      <mat-option value="Semester4">Fourth Semester</mat-option>
                      <mat-option value="Semester5">Fifth Semester</mat-option>
                      <mat-option value="Semester6">Sixth Semester</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Teacher">
                      <mat-option value="option">Shaheer Test</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <h5 class="text-center"><b>MAXIMUM MARKS</b></h5>
                  <mat-form-field>
                    <input matInput placeholder="Internal 1">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Internal 2">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Assignment">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Attendance">
                  </mat-form-field>
                  <button type="button" class="btn btn-info">Submit</button>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>