.classButton{
  padding: 12px 150px;
  margin: 0px 0px 10px 0px;
  }
.numberButton{
    padding: 12px 75px;
    margin: 10px 40px 20px 70px;

  }
.statusButton{
    padding: 12px 115px;
    margin: 20px 10px 30px 10px ;
  }