<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person_pin</i>
            </div>
            <p class="card-category">472</p>
            <h3 class="card-title">Live Students
            </h3>
          </div>
          <div class="card-footer">
            More info<button class="btn btn-primary btn-fab btn-fab-mini btn-round" data-toggle="modal"
              data-target="#liveStudModal">
              <i class="material-icons">arrow_downward</i>
            </button>
            <div class="modal fade" id="liveStudModal" tabindex="-1" role="dialog" aria-labelledby="liveStudModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header bg-warning">
                    <h5 class="modal-title" id="liveStudModalLabel">LIVE STUDENTS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>
                            Sl No
                          </th>
                          <th>
                            Course
                          </th>
                          <th>
                            First Year
                          </th>
                          <th>
                            Second Year
                          </th>
                          <th>
                            Third Year
                          </th>
                          <th>
                            Total
                          </th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              1
                            </td>
                            <td>
                              BA English
                            </td>
                            <td>
                              56
                            </td>
                            <td>
                              18
                            </td>
                            <td>
                              7
                            </td>
                            <td>
                              81
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <td colspan="2">
                            Total Students
                          </td>
                          <td>
                            250
                          </td>
                          <td>
                            115
                          </td>
                          <td>
                            107
                          </td>
                          <td>
                            472
                          </td>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">wc</i>
            </div>
            <p class="card-category">Communion</p>
            <h3 class="card-title">Live Students</h3>
          </div>
          <div class="card-footer">
            More info<button class="btn btn-primary btn-fab btn-fab-mini btn-round" data-toggle="modal"
              data-target="#communionModal">
              <i class="material-icons">arrow_downward</i>
            </button>
            <div class="modal fade" id="communionModal" tabindex="-1" role="dialog"
              aria-labelledby="communionModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header bg-success">
                    <h5 class="modal-title" id="communionModalLabel">COMMUNION VIEW</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>
                            Sl No
                          </th>
                          <th>
                            Communion
                          </th>
                          <th>
                            Total
                          </th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              1
                            </td>
                            <td>
                              Jain
                            </td>
                            <td>
                              472
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <th colspan="2">
                            Total Students
                          </th>
                          <th>
                            472
                          </th>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">hourglass_empty</i>
            </div>
            <p class="card-category">Quota</p>
            <h3 class="card-title">Live Students</h3>
          </div>
          <div class="card-footer">
            More info<button class="btn btn-primary btn-fab btn-fab-mini btn-round" data-toggle="modal"
              data-target="#quotaModal">
              <i class="material-icons">arrow_downward</i>
            </button>
            <div class="modal fade" id="quotaModal" tabindex="-1" role="dialog" aria-labelledby="quotaModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="quotaModalLabel">ADMISSION QUOTA</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>
                            Sl No
                          </th>
                          <th>
                            Quota
                          </th>
                          <th>
                            Total
                          </th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              1
                            </td>
                            <td>
                              Manangement
                            </td>
                            <td>
                              472
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <th colspan="2">
                            Total Students
                          </th>
                          <th>
                            472
                          </th>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">panorama_fish_eye</i>
            </div>
            <p class="card-category">Gender Ratio</p>
            <h3 class="card-title">M:63.14% F: 36.44%</h3>
          </div>
          <div class="card-footer">
            More info<button class="btn btn-primary btn-fab btn-fab-mini btn-round" data-toggle="modal"
              data-target="#ratioModal">
              <i class="material-icons">arrow_downward</i>
            </button>
            <div class="modal fade" id="ratioModal" tabindex="-1" role="dialog" aria-labelledby="ratioModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header bg-info">
                    <h5 class="modal-title" id="ratioModalLabel">GENDER RATIO</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>

                          </th>
                          <th>
                            Total
                          </th>
                          <th>
                            Percentage
                          </th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <b>Male</b>
                            </td>
                            <td>
                              298
                            </td>
                            <td>
                              63.14%
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <b>Female</b>
                            </td>
                            <td>
                              172
                            </td>
                            <td>
                              36.44%
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary ">
            <div class="nav-tabs-navigation">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a mat-button class="nav-link active" href="#students" data-toggle="tab">
                    STUDENTS
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#report" data-toggle="tab">
                    REPORT
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#bulkUpload" data-toggle="tab">
                    BULK UPLOAD
                    <div class="ripple-container"></div>
                  </a>
                </li>

                <li class="nav-item">
                  <a mat-button class="nav-link" href="#idCard" data-toggle="tab">
                    ID CARD
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#addButton" data-toggle="tab">
                    <button class="btn btn-primary btn-fab btn-fab-mini" data-toggle="modal"
                      data-target="#getAdmsnModal">
                      <i class="material-icons">add</i>
                    </button>
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="students">
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field>
                      <input matInput placeholder="Search name / Admission Number">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <mat-form-field>
                      <mat-label>Select Admission Year</mat-label>
                      <mat-select>
                        <mat-option>Admission Year</mat-option>
                        <mat-option value="2017-18">2017-18</mat-option>
                        <mat-option value="2018-19">2018-19</mat-option>
                        <mat-option value="2019-20">2019-20</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <mat-form-field>
                      <mat-label>Select Course</mat-label>
                      <mat-select>
                        <mat-option>Course</mat-option>
                        <mat-option value="BA Eng">BA Eng</mat-option>
                        <mat-option value="B.Com">B.Com</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <button type="button" class="btn btn-info" (click)="onStudentSubmit($event)">SUBMIT</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <tr>
                            <th>
                              Sl No
                            </th>
                            <th>
                              Admsn No
                            </th>
                            <th>
                              Name
                            </th>
                            <th>
                              Guardian
                            </th>
                            <th>
                              Mobile
                            </th>
                            <th>
                              Image
                            </th>
                          </tr>
                        </thead>
                        <tbody class=" text-center">
                          <tr data-toggle="modal" data-id="1" data-target="#studentProfileModal">
                            <td>
                              1
                            </td>
                            <td>
                              784
                            </td>
                            <td>
                              Muneera A
                            </td>
                            <td>
                              Ali A
                            </td>
                            <td>
                              8569321245
                            </td>
                            <td>
                              <img src="https://www.shareicon.net/data/128x128/2016/10/18/844016_man_512x512.png"
                                alt="...">
                            </td>
                          </tr>
                        </tbody>
                        <div class="modal fade" id="studentProfileModal" tabindex="-1" role="dialog"
                          aria-labelledby="studentProfileModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header bg-success">
                                <img class="profile-user-img"
                                  src="https://www.shareicon.net/data/128x128/2016/10/18/844016_man_512x512.png"
                                  alt="...">
                                <h4 class="login-box-msg" id="studentProfileModalLabel"> <span
                                    class="text-navy">1069</span>
                                  <div class="text-primary"><b> Fathima Shahana</b>
                                  </div> <span class="text-navy"> BA English</span>
                                </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="row">
                                  <div class="col-lg-12 col-md-12">
                                    <div class="card">
                                      <div class="card-header card-header-tabs card-header-danger">
                                        <div class="nav-tabs-navigation">
                                          <ul class="nav nav-tabs" data-tabs="tabs">
                                            <li class="nav-item">
                                              <a mat-button class="nav-link active" href="#viewStudent"
                                                data-toggle="tab">
                                                View Student
                                                <div class="ripple-container"></div>
                                              </a>
                                            </li>
                                            <li class="nav-item">
                                              <a mat-button class="nav-link" href="#editStudent" data-toggle="tab">
                                                Edit Student
                                                <div class="ripple-container"></div>
                                              </a>
                                            </li>
                                            <li class="nav-item">
                                              <a mat-button class="nav-link" href="#conduct" data-toggle="tab">
                                                Conduct
                                                <div class="ripple-container"></div>
                                              </a>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                      <div class="card-body">
                                        <div class="tab-content">
                                          <div class="tab-pane active" id="viewStudent">
                                            <div class="row">
                                              <div class="col-sm-12 col-md-12 col-lg-6">
                                                <h5 class="text-center text-primary">Admission Details</h5>
                                                <div class="table-responsive">
                                                  <table>
                                                    <tbody>
                                                      <tr>
                                                        <td>Admission Number</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Student Status</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Student Name</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Course</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Admission Date</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Admission Year</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Admission Semester</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Admission Quota</td>
                                                        <td></td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </div>
                                              </div>
                                              <div class="col-sm-12 col-md-12 col-lg-6">
                                                <h5 class="text-center text-primary">Student Details</h5>
                                                <div class="table-responsive">
                                                  <table class="table">
                                                    <tbody>
                                                      <tr>
                                                        <td>Date of Birth</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Religion</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Caste</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>House Name</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Post Office</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>PIN</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Place</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>District</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>State</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Nationality</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Mobile Number</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>E-mail</td>
                                                        <td></td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </div>
                                              </div>
                                              <div class="col-sm-12 col-md-12 col-lg-6">
                                                <h5 class="text-center text-primary">Guardian Details</h5>
                                                <div class="table-responsive">
                                                  <table class="table">
                                                    <tbody>
                                                      <tr>
                                                        <td>Guardian Name</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Guardian Relation</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Guardian Mobile 1</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Guardian Mobile 2</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Guardian E-mail</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Guardian Job</td>
                                                        <td></td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="tab-pane" id="editStudent">
                                            <div class="row">
                                              <div class="col-md-12">
                                                <div class="table-responsive">
                                                  <table>
                                                    <tbody>
                                                      <tr>
                                                        <td class="text-center text-info" colspan="2">Admission Details
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Admission Number</td>
                                                        <td></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Student Status</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <mat-label>Status</mat-label>
                                                            <mat-select>
                                                              <mat-option value="Live">Live</mat-option>
                                                              <mat-option value="Resume">Resume</mat-option>
                                                              <mat-option value="Year Out">Year Out</mat-option>
                                                              <mat-option value="TC Issued">TC Issued</mat-option>
                                                            </mat-select>
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>University Register Number</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="University Register Number ">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Student Name</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="Student Name">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Course</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <mat-label>Course</mat-label>
                                                            <mat-select>
                                                              <mat-option value="BA English">BA English</mat-option>
                                                              <mat-option value="BBA">BBA</mat-option>
                                                              <mat-option value="BCA">BCA</mat-option>
                                                            </mat-select>
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Admission Date</td>
                                                        <td><input type="date"></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Admission Year</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <mat-label>Admission Year</mat-label>
                                                            <mat-select>
                                                              <mat-option value="2017-18">2017-18</mat-option>
                                                              <mat-option value="2018-19">2018-19</mat-option>
                                                              <mat-option value="2019-20">2019-20</mat-option>
                                                            </mat-select>
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Admission Semester</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <mat-label>Admission Semester</mat-label>
                                                            <mat-select>
                                                              <mat-option value="First">First</mat-option>
                                                              <mat-option value="Second">Second</mat-option>
                                                              <mat-option value="Third">Third</mat-option>
                                                            </mat-select>
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Admission Quota</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <mat-label>Admission Quota</mat-label>
                                                            <mat-select>
                                                              <mat-option value="Manangement">Management</mat-option>
                                                              <mat-option value="Merit">Merit</mat-option>
                                                            </mat-select>
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td class="text-center text-info" colspan="2">Student Details
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Date of Birth</td>
                                                        <td><input type="date"></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Gender</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <mat-label>Gender</mat-label>
                                                            <mat-select>
                                                              <mat-option value="Male">Male</mat-option>
                                                              <mat-option value="Female">Female</mat-option>
                                                            </mat-select>
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Religion</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="Religion">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Caste</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="Caste">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>House Name</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="House Name">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Post Office</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="Post Office">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>PIN</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="PIN">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Place</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="Place">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>District</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="District">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>State</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="State">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Nationality</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="Nationality">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Mobile Number</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="Mobile Number">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>E-mail</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="E-mail">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td class="text-center text-info" colspan="2">Guardian Details
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Guardian Name</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="Guardian Name">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Guardian Relation</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="Guardian Relation">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Guardian Mobile 1</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="Guardian Mobile 1">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Guardian Mobile 2</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="Guardian Mobile 2">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Guardian E-mail</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="Guardian E-mail">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Guardian Job</td>
                                                        <td>
                                                          <mat-form-field>
                                                            <input matInput placeholder="Guardian Job">
                                                          </mat-form-field>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="2"><button type="submit"
                                                            class="btn btn-success btn-block btn-flat center-block">
                                                            <span class="fa fa-check"></span> Update Details
                                                          </button>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="tab-pane" id="conduct">
                                            <div class="row">
                                              <div class="col-md-12">
                                                CONDUCT
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <tfoot>
                          <tr>
                            <td>
                              Sl No
                            </td>
                            <td>
                              Admsn No
                            </td>
                            <td>
                              Name
                            </td>
                            <td>
                              Guardian
                            </td>
                            <td>
                              Mobile
                            </td>
                            <td>
                              Image
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="report">
                <div class="row">
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <mat-form-field>
                      <mat-label>Select Admission Year</mat-label>
                      <mat-select>
                        <mat-option>Admission Year</mat-option>
                        <mat-option value="2017-18">2017-18</mat-option>
                        <mat-option value="2018-19">2018-19</mat-option>
                        <mat-option value="2019-20">2019-20</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <mat-form-field>
                      <mat-label>Select Student Status</mat-label>
                      <mat-select>
                        <mat-option>Student Status</mat-option>
                        <mat-option value="Live">Live</mat-option>
                        <mat-option value="TC ISSUED">TC ISSUED</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <button type="button" class="btn btn-info" (click)="onReportSubmit($event)">SUBMIT</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Admission Quota</th>
                            <th>Course Name</th>
                            <th class="text-info">Male</th>
                            <th class="text-info">Female</th>
                            <th class="text-info">Trans</th>
                            <th class="text-info">Total</th>
                          </tr>
                        </thead>
                        <tbody class="text-center">
                          <tr>
                            <td>Merit</td>
                            <td>BA English</td>
                            <td>4</td>
                            <td>8</td>
                            <td>0</td>
                            <td>12</td>
                          </tr>
                          <tr>
                            <td>Management</td>
                            <td>BA English</td>
                            <td>2</td>
                            <td>4</td>
                            <td>0</td>
                            <td>6</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td>Admission Quota</td>
                            <td>Course Name</td>
                            <td class="text-info">Male</td>
                            <td class="text-info">Female</td>
                            <td class="text-info">Trans</td>
                            <td class="text-info">Total</td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="bulkUpload">
                <div class="row">
                  <div class="col-md-12">
                    BULK UPLOAD
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="addButton">
                <div class="row">
                  <div class="col-md-12">

                    <div class="modal fade" id="getAdmsnModal" tabindex="-1" role="dialog"
                      aria-labelledby="getAdmsnModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header bg-danger">
                            <h5 class="modal-title text-center center-block" id="getAdmsnModalLabel">GET NEW ADMISSION
                              NUMBER</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <button type="button" class="btn btn-primary center-block">GET ADMISSION NUMBER</button>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="idCard">
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <mat-form-field>
                      <input matInput placeholder="Enter Admission Number">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <button type="button" class="btn btn-info" (click)="onIdCardSubmit($event)">SUBMIT</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
