<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                       <!--  -->
                       <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                              
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#transactionHistory" data-toggle="tab">
                                            <i class="material-icons">library_books</i>Transactions 
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                      <a mat-button class="nav-link" href="#deptHistory" data-toggle="tab">
                                          <i class="material-icons">info</i> Department History
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                 
                                 
  
                                </ul>
                            </div>
                        </div>
                        <!--  -->
                        
                    </div>
                    <div class="card-body">
                     <div class="tab-content">
                            <div class="tab-pane active" id="transactionHistory">
                                <div class="row">
                                    <div class="col col-md-4">
                                        
                                         <mat-form-field appearance="outline">
                                            <mat-label>Search</mat-label>
                                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                            <mat-icon matSuffix>search</mat-icon>
                                            <!-- <mat-hint>Hint</mat-hint> -->
                                          </mat-form-field>
                             
                                    </div>      
                                </div>          
                                <div class="table-responsive">
                                 <table mat-table [dataSource]="transactions" matSort class="table table-hover">
                                              <ng-container matColumnDef="issued_date">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                                                <td mat-cell *matCellDef="let element"> {{element.issued_date|date:'mediumDate'}} </td>
                                              </ng-container>
                                            
                                              <!-- Name Column -->
                                              <ng-container matColumnDef="book_no">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Book </th>
                                                <td mat-cell *matCellDef="let element"> {{element.book_no}} - {{element.book_title}} </td>
                                              </ng-container>
                                            
                                              <!-- Weight Column -->
                                              <ng-container matColumnDef="issuable_id">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
                                                <td mat-cell *matCellDef="let element" class="{{element.issuable_type=='staff'?'bg-highlight':''}}">{{element.issuable_id}} - {{element.issuable_type=='staff'?element.faculty_name:element.std_name}} </td>
                                              </ng-container>
                                              <ng-container matColumnDef="issued_status">
                                                    <thead class=" text-primary">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>  </thead>
                                                    <td mat-cell *matCellDef="let element" > {{element.issued_status}} </td>
                                            </ng-container>
                                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                              <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                    <!--  -->

                                   <!-- <thead class=" text-primary">
                                    <th>
                                        SL.NO
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Book
                                    </th>
                                    <th>
                                        User
                                    </th>
                                    <th>
                                        Returned.?
                                    </th>
                                  </thead>
                                  <tbody >
                                    <tr *ngFor="let transaction of transactions" class="{{transaction.issuable_type=='staff'?'text-danger':''}}">
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            {{transaction.issued_date|date:'medium'}}
                                        </td>
                                        <td>
                                            {{transaction.book_no}} - {{transaction.book_title}}
                                        </td>
                                        <td>
                                            {{transaction.issuable_id}} - {{transaction.issuable_type=='staff'?transaction.faculty_name:transaction.std_name}}
                                        </td>
                                        <td class="text-primary">
                                            {{transaction.issued_status=='returned'?'Yes':'No'}}
                                        </td>
                                      </tr>
                                    </tbody> -->
                                  </table>
                                  <mat-paginator
                                  [pageSize]="10"
                                  [pageSizeOptions]="[10, 25, 50, 100]">
                                   </mat-paginator>
                                </div>
                            </div>
                            <!--  -->
                            <div class="tab-pane" id="deptHistory">
                                    <div class="table-responsive">
                                            <table class="table table-hover">
                                            <thead class=" text-primary">
                                                <th>
                                                    SL.NO
                                              </th>
                                              <th>
                                                  Course
                                              </th>
                                              <th>
                                                  Issued Books
                                              </th>
                                              <th>
                                                  Not Returned
                                              </th>
                                          </thead>
                                          <tbody>
                                              <tr *ngFor="let history of dep_transactions; index as i">
                                                  <td>
                                                      {{i+1}}
                                                  </td>
                                                  <td>
                                                      {{history?.course_name}}
                                                  </td>
                                                  <td>
                                                    {{history?.issued}}
                                                  </td>
                                                  
                                                  <td class="text-danger">
                                                    {{history?.notReturn}}
                                                  </td>
                                              </tr>
                                              <tr >
                                                  <td></td>
                                                  <th class="bg-highlight text-primary">Staff</th>
                                                  <td class="bg-highlight">{{staff_transactions?.staffIssued}}</td>
                                                  <td class="bg-highlight">{{staff_transactions?.staffNot}}</td>
                                              </tr>
                                              <tr>
                                                <td></td>
                                                <th class="bg-highlight text-primary">Total</th>
                                                <td class="bg-highlight">{{dep_transactions?getSum('issued') + staff_transactions?.staffIssued:'sf' }}</td>
                                                <td class="bg-highlight">{{dep_transactions?getSum('notReturn') + staff_transactions?.staffNot:'sdf' }}</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        </div>
                            </div>
                          
                      </div>
                    </div>
                </div>
            </div>
            </div>
          
    </div>   
  </div>
  
  
  
