.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
    margin-top: 16px;
  }
  .mat-form-field ~ .mat-form-field{
    justify-content: center;
    align-items: center;
  }