<div class="main-content">
  <div class="container-fluid main-div">
    <mat-card align="center" class="col-10">
       <mat-card-header>
          <mat-card-title class="text-center">Issue Book/Return Book</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form  [formGroup]="findform" (ngSubmit)="onfind()" >
            <div class="row">
            <div class="col-md-6">
           <mat-form-field class="example-full-width">
            
             <input matInput placeholder="Scan BarCode" formControlName="book_no" #book_no>
           </mat-form-field>
          </div>
          <div class="col-md-6">
           <mat-card-actions >
            <button type="submit" mat-raised-button color="primary">
            Find
          </button>
          </mat-card-actions>
        </div>
        </div>
        </form>
      </mat-card-content>
  <div *ngIf="is_issued">
    <!-- <h3 class="text-success">The Sample Boook -1235</h3> -->
    <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-{{issuedBook.fine==0? 'success' :'danger' }}">
                  <h4 class="card-title ">{{issuedBook.book_no}} - {{issuedBook.book_title}} <b> By </b>{{issuedBook.author_name}}</h4>
        
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table">
                          <thead class=" text-primary">
                              <th>
                                {{issuedBook.issuable_type=='staff'?'Staff ID':'Student ID'}}
                              </th>
                              <th>
                                {{issuedBook.issuable_type=='staff'?'Staff Name':'Student Name'}}
                             </th>
                              <th>
                                  Book Title
                              </th>
                              <th>
                                  Issued at
                              </th>
                              
                              <th>
                                  Fine.?
                              </th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>
                                    {{issuedBook.issuable_id}}
                                  </td>
                                  <td>
                                    {{issuedBook.issuable_type=='staff'?issuedBook.faculty_name:issuedBook.std_name}}
                                  </td>
                                  <td>
                                      {{issuedBook.book_title}}
                                  </td>
                                  <td>
                                      {{issuedBook.issued_date|date:'medium'}}
                                  </td>
                                 
                                  <td class="text-danger">
                                      <b>  {{issuedBook.fine==0? 'No fine' :issuedBook.fine }} </b>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <!--  -->
    <button mat-raised-button color="{{issuedBook.fine==0? 'accent' :'warn' }}"  (click)="onReturn(issuedBook.id)">
        Collect
      </button>
  </div>
  <div *ngIf="issuable">
    <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-primary">
                  <h4 class="card-title">{{issuableBook.book_title}}{{issuableBook.id}}</h4>
              </div>
              <div class="card-body">
                 <!-- <div class="card-content table-responsive table-full-width">
                       <table class="table">
                                    <tr>
                                      <th>Book Name:</th>
                                      <td>{{issuableBook.book_title}}</td>
                                      <th>Author:</th>
                                      <td>{{issuableBook.book_status}}</td>
                                    </tr>
                      </table>
                    </div> -->
                  <form [formGroup]="issueform" (ngSubmit)="onIssue()">
                      <div class="row">
                                  
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">      
                                   <input matInput placeholder="Book NO" [(ngModel)]="issuableBook.id" formControlName="book_id" #book_id > 
                                   <!--[(ngModel)]="issuableBook.id" formControlName="book_id" #book_id -->
                                  </mat-form-field>     
                                  </div> 
                                  <div class="col-md-4">
                                    <mat-radio-group aria-label="Select an option" formControlName="issuable_type" #issuable_type [(ngModel)]="selected">
                                      <!-- formControlName="issuable_type" #issuable_type -->
                                      <mat-radio-button value="staff">Staff</mat-radio-button>
                                      <mat-radio-button value="student">Student</mat-radio-button>
                                    </mat-radio-group>
                                  </div>
                                  <div class="col-md-3">     
                                    <mat-form-field>
                                      <input  matInput placeholder="{{selected=='staff'?'Staff ID':'Student ID'}}" formControlName="issuable_id" #issuable_id>
                                      <!-- formControlName="issuable_id" #issuable_id -->
                                    </mat-form-field>
                                  </div>
                      </div> 
                      <div class="row">
                        <div class="col" *ngIf="issue_to">
                            <h4 class="text-primary">
                              <span matBadge="{{issue_to.books_issued}}" matBadgeOverlap="false">
                                <b>{{selected=='staff'?issue_to.faculty_name:issue_to.std_name}} </b></span>
                            </h4> 
                        </div>

                         <div class="col">     
                      <button mat-raised-button type="submit" class="btn btn-primary pull-right">Issue Book</button>
                      <div class="clearfix"></div>
                    </div> 
                    </div>
                  </form>
              </div>
          </div>
      </div>
     
  </div>

  </div>  
</mat-card>
</div>
</div>